@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
 
body {
    overflow-x:hidden;
}


img {
    max-width: 100%;
    display: block;
    height: auto;
}


 #main-nav {
     opacity:0.8;
     border-bottom:3px solid rgba(25,113,255,0.8);
 }

 #main-nav a {
     font-size:1.2rem;
     margin-left:1rem;
     color:#fff;
 }

#main-nav a.active {
    font-weight: 600;
}

#main-nav a:hover {
    font-weight: 600;
}

// dropdown-item links


.dropdown-toggle:hover {
    font-weight: 400 !important;
}

.dropdown-item {
    margin-left:0rem !important;
    color: #1971ff !important;
}

.dropdown-item:active {
    background: none !important;
}

 .dark-overlay {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     min-height: 670px;
     background:rgba(0,0,0,0.7);
 }

#showcase .row {
    padding-top:280px;
    color:#fff;
} 

#showcase a {
    text-transform: uppercase;
    font-family: 'Open Sans'
}

#showcase a:hover {
    .fas {
        display:inline-block !important;
    }
}

#showcase a {
    text-decoration: none !important;
}



#home-icon a:hover {
    .fas {
        display:inline-block !important;
    }
}

.icon img {
    display: inline;
}

#abstract {
    background:#f5f6f7;
}

#abstract p {
    text-align:left;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1.2rem;
}

#main-footer p{
    font-weight:500;
}

/*MEMBERS PAGE*/

#members {
    padding-top:150px;
}

#members img {
    margin-top:-50px;
}

#members i {
    color:#000;
}

#members h5 {
    color:#6c757d;
}

#members .card:hover {
    .card-body {
        background:#1971ff;
        color:#fff;
    }
    h5 {
        color:#fff;
    }
    i {
        color:#fff;
    }
}

.card-body {
    min-height: 355px;
}

.member-picture {
    display: inline;
}

#thanks {
    background: #f5f6f7;
}

#sponsor p {
    text-align:left;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1.2rem;
}

/*PROJECT IDEA PAGE*/

p {
    font-size:1.2rem !important;
    margin-top: 0;
    margin-bottom: 1rem;
}

#anchors {
    padding-top:130px !important;
}

#anchors li a {
    text-decoration:none;
    margin-right:1rem;
}

.cover {
    width:100%;
    height:20px;
    background:#fff;
    -webkit-transform:translateY(-26px);
            transform:translateY(-26px);
}

#background,
#problem-solution {
    background:#fff;
    margin-top:100px;
}


#background p,
#problem-solution p,
#reference p,
#pcr p,
#detection p,
#treatment p,
#reference-future p{
    text-align:left;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:1.2rem;
}

#background p {
    padding-top: 0;
}

.subtitle {
    font-weight:500;
    font-size: 1.3rem;
}

#reference {
    background:#f5f6f7;
}

.to-top-btn {
    position:fixed;
    bottom: 10px;
    right: 20px;
    display:none;
}

a:hover {
    text-decoration: none !important;
}

.btn-project-idea img {
    display: inline;
}

/*EXPERIMENT PAGE*/
canvas {
    height:auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#myCanvas {
    margin-top: 20px;
}

.padding {
    width:100%;
    height:0px;
}

.btn__experiment {
    margin-bottom: 1rem;
}

.btn__experiment img {
    display: inline;
}

.experiment-table td {
    padding: 0.5rem;
}

caption {
    color: #6c757d;
    caption-side: top;
}

figcaption {
    color: #6c757d;
}

.highlight {
    background: yellow;
}
/*FUTURE PAGE*/

#future-img {
    padding-top: 130px;
}

#pcr {
    background: #f5f6f7;
}

#detection {
    background: #fff;
}

#treatment {
    background: #f5f6f7;
}

.future-1,
.future-2,
.future-3 {
    width: 400px;
    height: 300px;
}



/*MEDIA QUERY*/
@media(max-width:1000px) {
    #project-video iframe{
        width:500px !important;
    }
    
    .subtitle {
        font-size: 1.3rem;
    }
    /* figcaption {
        font-size: 0.9rem;
    } */
}

@media (max-width:770px) {
    /* p {
        font-size:1rem !important;
    } */
    h1 {
        font-size:2em !important;
    }
    .card-body {
        min-height: 300px !important;
    }

    
    .subtitle {
        font-size: 1.1rem;
    }

    /* figcaption {
        font-size: 0.72rem;
    } */
}

@media(max-width:600px) {
    #project-video iframe{
        width:300px !important;
    }
}

@media (max-width:500px) {
    /* p {
        font-size:0.9rem !important;
    } */
    h1 {
        font-size:1.8em;
    }

    
    .subtitle {
        font-weight:500;
        font-size: 1rem;
    }
    
    /* figcaption {
        font-size: 0.65rem;
    } */
    .experiment-table {
        font-size: 0.9rem;
    }
}

